/** == TEAL AND TAN Color Palette
<palette>
  <color name="Jet" hex="353535" r="53" g="53" b="53" />
  <color name="Verdigris" hex="549da0" r="84" g="157" b="160" />
  <color name="White" hex="ffffff" r="255" g="255" b="255" />
  <color name="Alabaster" hex="e4e4dd" r="228" g="228" b="221" />
  <color name="Gunmetal" hex="1a373b" r="26" g="55" b="59" />
</palette>

<!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="09082632073722136">new CoolorsPaletteWidget("09082632073722136", ["353535","549da0","ffffff","e4e4dd","1a373b"]); </script>
/* SCSS HEX */

$jet: #353535;
$verdigris: #549da0;
$white: #ffffff;
$alabaster: #d9d9d9;
$gunmetal: #294e66;

/** main color scheme **/
$main-text-color: $jet;
$main-bg: $white;
$main-link: $verdigris;
$main-link-hover: $gunmetal;
$main-headers: $verdigris;

/** dark-background color scheme **/
$dark-text-color: $white;
$dark-bg: $gunmetal;
$dark-link: $alabaster;
$dark-link-hover: $verdigris;
$dark-headers: $alabaster;

/** accent-background color scheme **/
$accent-text-color: $jet;
$accent-bg: $alabaster;
$accent-link: $gunmetal;
$accent-link-hover: $verdigris;
$accent-headers: $gunmetal;
