---
layout: page
format: homepage
title: Overview
---

<div class="grid-container">
<div class="grid-x grid-padding-x">
<div class="cell medium-8 align-right small-order-2 medium-order-1 large-order-1 align-middle" markdown="1" >

{{ content }}

</div>
<div class="cell medium-4 align-left small-order-1 medium-order-2 large-order-2" markdown="1">

<h1 id="in-this-dossier">In this dossier</h1>
<p><em>This dossier supports my bid for tenure as Associate Professor of History on the basis of research.</em></p>
<ul>
  <li><a href="/casestudy">Personal statement</a>: An narrative of my research, teaching, and service trajectories</li>
  <li><a href="/research">Research</a>: A detailed overview of my research projects</li>
  <li><a href="/teaching">Teaching</a>: An exploration of digital-history methods in the classroom</li>
  <li><a href="/service">Service</a>: Contributions to the development of disciplinary expertise in digital humanities and digital history, and contributions to digital-history pedagogy programs</li>
</ul>

<div class="address">
  	<hr><p style="text-align:center">{% if site.email != blank%}<em>{{ site.email }}</em>{%endif%}</p><hr>
</div>
</div>
</div>
</div>
