---
layout: page
format: item
---
{% capture FileName %}{{ page.url | split: '/' | last }}{% endcapture %}
{% capture ItemID %}{{ FileName | split: '.' | first }}{% endcapture %}
<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<!--page-->

{% if item.photo %}
	{% assign ItemPhotoResult = item.photo %}
{% else %}
	{% capture ItemImagePath %}{{ urlitemimg }}{{ ItemID }}{% endcapture %}
	{% for static_file in site.static_files %}
		{% if static_file.path contains ItemImagePath %}
			{% capture ItemPhotoResult %}{{site.baseurl}}{{static_file.path}}{% endcapture %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if page.embedurl %}
<div class="responsive-embed">
<iframe width="420" height="315" src="{{ page.embedurl }}" frameborder="0" allowfullscreen></iframe>
</div>
{% elsif ItemPhotoResult %}
<img class="article-image float-right thumbnail" src="{{ ItemPhotoResult }}" alt="{{ page.title }}"/>
{% endif %}
{% if page.shortdesc %}

<h2>About {{page.title}}</h2>

<p>{{page.shortdesc}}</p>

{% endif %}

{{ content }}

<!-- {: .my-class } -->  

		</div>
	</div>
</div>
