---
layout: default
format: page
---

<div class="darkbg">
<div class="grid-container">
<h4 class="center" style="color:#e4e4dd;">Kalani Craig's Digital History Dossier for Tenure as Associate Professor of History</h4>
</div>
</div>
      
<div class="grid-container">
<h4 class="center">{{ page.subheadline }}</h4>
<h1 class="center siteheader subheadline">{{ page.title }}</h1>
</div>

<div class="grid-container print-only accent">
<h4 class="center subheadline">Please read this dossier in its digital form</h4>
<h5 class="center"><a href="http://tenuredossier.kalanicraig.com">tenuredossier.kalanicraig.com</a></h5>

<p>I invite you to explore my digital-history scholarship in its native medium at <a href="http://tenuredossier.kalanicraig.com">tenuredossier.kalanicraig.com</a></strong>, so that the interactive nature of the scholarship and its impact is fully visible. <em>Some features of this dossier may not display correctly in print.</em></p>
</div>

<div class="grid-container">
{% if page.sidebar %}
<div class="grid-x margin-gutters padding-gutters">
<div class="cell small-12 large-3 small-order-1 medium-order-1 large-order-2 alabaster" markdown="1">
	<div class="sidebar">
	{% include _sidebar_{{page.sidebar}}.html %}
	</div>
</div>
<div class="cell small-12 large-9 small-order-2 medium-order-2 large-order-1 extra-right-padding">
{% endif %}

	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<div>

			{{ content }}

			</div>
		</div>
	</div>
{% if page.sidebar %}
</div>
{% endif %}
</div>
